.body {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    
}
.main {
    flex: 3 0px;
    
    
}
.nav {
    order: 1;
}
.main{
    order: 2;
    padding: 5px;
}

.img {
    order: 3;
    align-self: center;
    
}
img{
    max-width: 100%;
    
}




body {
    padding: 2em;
    
}

h1 {
    color: #c30000;
    text-align: center;
    font-family: helvetica, open-sans, sans-serif;
    text-decoration: underline;
}

h2 {

    color: #c30000;
    text-align: center;
    font-family: helvetica, open-sans, sans-serif;
}

h3 {
    color: #c30000;
    text-align: center;
    font-family: helvetica, open-sans, sans-serif;
}


figure {
    display: table;
    float: right;
    padding: 10px;
    top: 100px;

}

figure img {
    width: 320px;
    height: 192px;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    color: #c30000;
    text-align: center;
    font-family: helvetica, open-sans, sans-serif;
    font-size: smaller;

}

a {
    font-family: helvetica, open-sans, sans-serif;
    color: blue;
    text-decoration: none;
}

p {

    max-width: 800px;
    padding: 20px;
    margin: auto;
    color: #c30000;
    text-align: center;
    font-family: helvetica, open-sans, sans-serif;
}

a:link {
    font-family: helvetica, open-sans, sans-serif;
    color: blue;
}

a:visited {
    font-family: helvetica, open-sans, sans-serif;
    color: purple;
}

a:hover {
    font-family: helvetica, open-sans, sans-serif;
    color: teal;
}

.main ul{
    list-style-type: none;
}

.main li{
    text-decoration: none;
    color: #c30000;
    text-align: center;
    font-family: helvetica, open-sans, sans-serif;
}

.romaji {
    font-style: italic;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #08C1B8;
    color: #08C1B8;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}